# App Configuration
PORT=3000
NODE_ENV=production

# Database Configuration
DB_TYPE=postgres
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASS=postgres
DB_NAME=ruh_therapy_db
DB_SYNCHRONIZE=true
DB_SSL_ENABLED=false
DB_SSL_REJECT_UNAUTHORIZED=false

# JWT Configuration
JWT_SECRET=change_this_secret_key_in_production
JWT_EXPIRATION=1d

# Logger Configuration
LOGGER_LEVEL=debug
LOGGER_FORMAT=json

# Service Info
SERVICE_NAME=ruh-backend
SERVICE_VERSION=0.0.1
APM_ENVIRONMENT=docker

